In [1]:
import numpy as np
import csv
import sys
import os
import pandas as pd

## **Load Data**

Load June.csv fitbit data. The csv file doesnt not come in a usable format. The following will allow us to work with it.

In [2]:
filename = 'June.csv'

In [8]:
fields = []
rows = []

with open('June.csv', 'r') as csvfile:
    csvfile = csvfile.read().split('\n')
    csvreader = csv.reader(csvfile)
    fields = next(csvreader)
    for row in csvreader:
        rows.append(row)
data = pd.DataFrame(rows)

Need to locate where our sleep data starts

In [9]:
#locate Sleep data
df = data[data.eq('Sleep').any(axis=1)]
df

        0     1     2     3     4     5     6     7     8     9
32  Sleep  None  None  None  None  None  None  None  None  None

From this location we can assume that the data will start at the following row so we can parse the data at row 33 and add 30 days to represent all of June

In [10]:
#Set dataframe with header of sleep data and following array
data_h = data.iloc[33]
data_b = data.iloc[34:64]
data = np.array(data_b)
data = pd.DataFrame(data, columns=data_h)
data = data.replace(',','', regex=True)
#Need to inverse the data so it will be in acccending order
data = data.iloc[::-1]

In [11]:
data.head()

33,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep,NaN
29,2020-06-01 10:38PM,2020-06-02 4:15AM,290,47,18,337,58,200,32,None
28,2020-06-02 9:18PM,2020-06-02 11:55PM,136,21,5,157,N/A,N/A,N/A,None
27,2020-06-03 1:37AM,2020-06-03 4:39AM,153,29,16,182,9,119,25,None
26,2020-06-03 11:05PM,2020-06-04 2:13AM,150,38,13,188,15,92,43,None
25,2020-06-04 11:22PM,2020-06-05 4:23AM,255,46,22,301,16,207,32,None

The data is in str format so depending on what we want to use in our analysis will require us to convert it to another data type.
We will take Minutes Asleep and Number of Awakenin

In [ ]:
data['Minutes Asleep'] = data['Minutes Asleep'].astype(str).astype(float)
data['Number of Awakenings'] = data['Number of Awakenings'].astype(str).astype(int)